//CSS reset to enforce consistency across different browsers
*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

button,
input,
select,
textarea {
	all: unset;
	font-family: inherit;
	font-size: inherit;
}

a[href] {
	text-decoration: none;
}
