/**
 * Viewport e Workspace
 **/
$viewportWidthDesktop: 1440px;
$viewportWidthTablet: 992px;
$viewportWidthMobile: 768px;
$maxViewport: 1920px;

/**
 * Colors *
 **/
$primaryColor: #005f6b;
$secondaryColor: #00b4cc;
$blackColor: #000000;
$whiteColor: #ffffff;
$textColor: #343838;

$succesColor: #28a745;
$warningColor: #ffc107;
$errorColor: #dc3545;

/**
 * Fonts *
 **/
$primaryFont: "Open Sans", sans-serif;
$secondaryFont: "Open Sans", sans-serif;

/**
 * Media Queries *
 **/
$mediaQueries: (
	"sm": 576px,
	"md": 768px,
	"lg": 992px,
	"xl": 1200px,
	"xxl": 1400px,
) !default;
